﻿@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}
<ul class="list-group shipments-list">
    <li class="list-group-item">
        <span class="badge" id="notSended">@ViewBag.NotSended</span>
        Необработени поръчки
    </li>
    <li class="list-group-item">
        <span class="badge" id="sended">@ViewBag.Sended</span>
        Изпратени поръчки
    </li>
    <li class="list-group-item">
        <span class="badge" id="canceled">@ViewBag.Canceled</span>
        Отказани поръчки
    </li>
</ul>


