﻿@model CacheRoom.Web.Areas.Admin.Models.Store.CategoryViewModel

@{
    ViewBag.Title = "Create";
    Layout = "../Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @class = "form-horizontal admin" }))
{
    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend class="admin-filedset">
            Добави категория
        </legend>
        @Html.ValidationSummary(true)
        <div class="form-group">            
            @Html.LabelFor(model => model.Name, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SizeType, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.EnumDropDownListFor(model => model.SizeType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SizeType)
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div style="margin-top: 15px" class="col-lg-10 col-lg-offset-2">
            <input type="submit" value="Създай" class="btn btn-primary" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
