﻿@model CacheRoom.Web.Areas.Admin.Models.Store.ProductViewModel

@{
    ViewBag.Title = "Create";
    Layout = "../Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "form-horizontal admin" }))
{
    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend class="admin-filedset">
            Нов Продукт
        </legend>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
                <div class="checkbox" style="margin-top: 5px">
                    <label>
                        @Html.CheckBoxFor(model => model.IsOnSale) На разпродажба
                    </label>
                </div>
            </div>
        </div>
        <!--type-->
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.CategoryId, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        </div>
        <!--brand-->
        <div class="form-group">
            @Html.LabelFor(model => model.BrandId, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.DropDownListFor(model => model.BrandId, (SelectList)ViewBag.BrandId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BrandId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CollectionId, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.DropDownListFor(model => model.CollectionId, (SelectList)ViewBag.CollectionId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CollectionId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
