.scrollToTop{
    padding:0;

    position:fixed;
    top:500px;
    right:0px;
    z-index: 100;
    display:none;
    background: url('/Content/images/arrowUp.png');
}
.scrollToTop:hover {
    text-decoration: none;
    cursor: pointer;
}