﻿@model IEnumerable<CacheRoom.Web.Areas.Admin.Models.HomePage.CollectionImagesViewModel>
@{
    ViewBag.Title = "AddPhotoCollection";
}
<div style="margin:15px">
    @foreach (var image in @Model)
    {
        <div>
            <img style="width:250px;height:250px" src="@image.ImagePath" alt="Alternate Text" />
        </div>
        @Html.ActionLink("Изтрий снимката", "DeletePhoto", "HomePage", new { photoId = @image.Id, type = "Collection" }, null)
    }


    @using (Html.BeginForm("AddPhotoCollection",
                        "HomePage",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <label for="file">Upload Image:</label>
        <input type="file" name="file" id="file" />
        <input type="submit" value="Upload Image" />
    }
    @ViewBag.Message
</div>

