﻿@model CacheRoom.Web.Areas.Store.Models.Product.ProductIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}
@using System.Collections.Specialized
@using PagedList.Mvc;
@using PagedList;

<div class="row">
    @Html.Partial("_Selector", Model.Selector)
    <div class="col-md-10 col-sm-12" id="product-view-outer-div">
        <div class="row products-images">
            @foreach (var item in Model.Products)
            {
                if (item.ProductImages.Any())
                {
                    <div class="col-lg-3 thumb productData">
                        <a class="thumbnail imageContainer" href="@Url.Action("Details", "Product", new { id = item.Id })">
                            <img src="@Url.Content(item.ProductImages.FirstOrDefault().ImagePath)" alt=""/>
                        </a>
                        <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                        <h4>@Html.DisplayFor(modelItem => item.Price) лв.</h4>
                        @if (item.IsOnSale)
                        {
                            <h4><del>@Html.DisplayFor(modelItem => item.OldPrice) лв.</del></h4>
                        }
                    </div>
                }
                else
                {
                    <div class="col-lg-3 thumb productData">
                        <a class="thumbnail imageContainer" href="@Url.Action("Details", "Product", new { id = item.Id })">
                            <img src="@Url.Content("~/Content/images/info/NoImage.png")" alt=""/>
                        </a>
                        <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                        <h4>@Html.DisplayFor(modelItem => item.Price) лв.</h4>
                        @if (item.IsOnSale)
                        {
                            <h4><del>@Html.DisplayFor(modelItem => item.OldPrice) лв.</del></h4>
                        }
                    </div>
                }
            }
        </div>

        @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { brand = ViewData["Brand"], collection = ViewData["Collection"], category = ViewData["Category"], type = ViewData["Type"], sale = ViewData["Sale"], newest = ViewData["Newest"], search = ViewData["Search"], page }))
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/accordion")
}