﻿@using System.Web.UI.WebControls
<div class="row" id="app-footer">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            @*<div class="col-md-3">*@
                @*<div id="footer-payment-methods" class="center-to-left">
                    <span class="footer-text">Ние работим с куриерска фирма ЕКОНТ</span>
                    <div id="logos-container" style="height:100px">
                        <img class="img-responsive" id="cards-logos" style="height: inherit" src="@Url.Content("~/Content/images/econt.jpg")" />
                    </div>
                </div>*@
            @*</div>*@
            <div class="col-md-7">
                <div class="center-to-left">
                    <ul id="footer-data-firstColumn" class="footer-text">
                        <li>@Html.ActionLink("Доставка", "Shipment", "About",new{area=string.Empty},new{@class="footer-about"})</li>
                        <li>Проследяване на поръчка</li>
                        <li>Указател за размери</li>
                        <li>@Html.ActionLink("Общи Условия", "TermsAndConditions", "About",new{area=string.Empty},new{@class="footer-about"})</li>
                        <li>@Html.ActionLink("За нас", "AboutUs", "About",new{area=string.Empty},new{@class="footer-about"})</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 pull-right" id="social-container">
                <div class="social-button pull-right">
                    <a class="footer-about" href="https://www.facebook.com/pages/Cacheroom/710341392409366?ref=hl">
                        <img src="@Url.Content("~/Content/images/social/facebook29.png")" />
                    </a>
                </div>
                <div class="social-button pull-right">
                    <a class="footer-about" href="https://twitter.com/Cacheroom">
                        <img src="@Url.Content("~/Content/images/social/twitter12.png")"/>
                    </a>
                </div>
                <div class="social-button pull-right">
                    <a class="footer-about" href="https://plus.google.com/u/1/">
                        <img src="@Url.Content("~/Content/images/social/google-plus-xxl.png")" alt="" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="footer-copyright">
                    Copyright &copy Масовка ООД. Някои права запазени.
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
